trigger:
- master

pool:
  name: Default

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        repository: $(Build.Repository.Name)
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: build
        repository: alpine
        dockerfile: '**/Dockerfile'
        tags: |
          3
    - task: Docker@2
      inputs:
        containerRegistry: 'Aqua-registry'
        command: 'login'
    - task: aquasecScanner@4
      inputs:
        image: 'mongo'
        scanType: 'local'
        hideBase: false
        showNegligible: true
        connection: 'Aqua-server'
        scanner: 'registry.aquasec.com/scanner:6.2.RC2'
        registry: 'Docker Hub'