trigger:
- master

pool:
  name: Default

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
        - bash: |
            docker pull tectimerfm/malware:latest
          displayName: Pull Docker image
        - bash: |
             docker run -d --name malware tectimerfm/malware:latest
          displayName: Run Docker image
        - task: Docker@2
          inputs:
            containerRegistry: 'Aqua-registry'
            command: 'login'
        - task: aquasecScanner@4
          displayName: Scan Docker Image for Vulnerabilities (Aquasec)
          inputs:
            image: 'tectimerfm/malware:latest'
            scanType: 'local'
            register: false
            registry: false
            hideBase: false
            showNegligible: false
            scanner: "registry.aquasec.com/scanner:6.0"
            connection: 'Aqua-server'
            notCompliesCmd: 'ls'
            caCertificates: false