# Docker
# Build a Docker image

trigger: none
pr: none

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'Aqua-registry'
        command: 'login'
    - task: Docker@2
      inputs:
        containerRegistry: 'DockerHub'
        repository: 'tectimerfm/malware:latest'
        command: 'build'
        Dockerfile: '**/Dockerfile'
    - task: aquasecScanner@4
      inputs:
        image: 'tectimerfm/malware:latest'
        scanType: 'dockerarchive'
        register: true
        hideBase: false
        showNegligible: false
        windowsScannerVersion: '4.2.0'
        scanner: 'registry.aquasec.com/scanner:6.2'
        registry: 'registry.aquasec.com'
        connection: 'Aqua-server'
        caCertificates: true

