trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        repository: $(Build.Repository.Name)
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
    - task: Docker@2
      inputs:
        containerRegistry: 'Aqua-registry'
        command: 'login'
    - task: aquasecScanner@4
      inputs:
       image: '$(Build.Repository.Name):$(Build.BuildId)'
       registry: ''
       scanType: 'local'
       register: false
       hideBase: false
       showNegligible: false
       windowsScannerVersion: '4.2.0'
       scanner: 'stsaquaseclab.azurecr.io/aquasec/scanner:4.6.20079'
       runOptions: 
       connection: 'Aqua-server'
       composefile: ''