
- task: Docker@2
  inputs:
    containerRegistry: 'Docker'
    repository: 'tectimerfm'
    command: 'build'
    Dockerfile: '**/Dockerfile'

- task: CmdLine@2
  inputs:
    script: |
    docker run \
    --name malware \
    -d \
    tectimerfm/malware:latest