- task: aquasecScanner@4
  inputs:
    image: 'malware'
    scanType: 'local'
    register: true
    hideBase: true
    showNegligible: true
    windowsScannerVersion: '4.2.0'
    registry: 'Docker'
    connection: 'local-csp'
    caCertificates: true
    showWillNotFix: true
    registerCompliant: true